.page-link {
  cursor: pointer;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.page-link {
  color: #3f51b5;
  background-color: #fff;
  border: 1px solid #ddd;
}
